@model ControleBiblioteca.Models.Unidade

@*@{
    ViewBag.Title = "Detalhes";
}*@

@*<h2>Detalhes</h2>*@

<div>
    <h4>Detalhes Unidade</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdUnidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdUnidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Alterar", "Alterar", new { @id = Model.IdUnidade }) |
    @Html.ActionLink("Voltar", "Index")
</p>
