@model ControleBiblioteca.Models.Colaborador

@*@{
    ViewBag.Title = "Detalhes";
}*@



<div>
    <h4>Detalhes do Colaborador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdColaborador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdColaborador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cpf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Celular)
        </dd>

    </dl>
</div>
<p>
   
    @Html.ActionLink("Alterar", "Alterar", new { @id = Model.IdColaborador }) |
    @Html.ActionLink("Voltar", "Index")
</p>
